body {
    background-image: url(./ksc.webp);
    background-size: cover;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: auto;
}

h1{
    text-align: center;
}

.main{
    border: solid black 2px;
}

p{
    text-align: center;
}

/* .recipes{
    border-bottom: solid gray 2px;
    color: red;
} */

.recipe-display{
    /* display: flex; */
    padding: 1em;
    width: 100vw;
}

