.main {
  background-image: url(./ksc.webp);
  background-size: cover;
  font-family: sans-serif;
  background-size: auto;
}

h1 {
  text-align: center;
}

.main {
  border: solid black 2px;
}

p {
  text-align: center;
}
.recipe-display {
  justify-content: center;
  flex: 1 0 auto;
  padding: 1em;
  width: 100vw;
}

.bigger {
  font-size: 1.5em;
  color: white;
  font-weight: bolder;
}
.card {
  border: solid black 2px;
  padding: 10px;
}
.all {
  background-image: url(./ksc.webp);
  background-size: cover;
  font-family: sans-serif;
  background-size: auto;
}
